# Copy this file to `.env` and add your TypeSafe API key to enable the Compass dev toolbar app and the "Ask the docs" page.
# Create a key at https://console.typesafe.ai/settings/keys
TYPESAFE_API_KEY=
